includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max
    paths:
        - src
        - bin
        - tests
    checkUninitializedProperties: true
    excludePaths:
        - tests/ExampleApplication/
        - tests/var

